*{
    padding: 0;
    margin: 0;
}
:root{
    --preto: #252525;
    --branco: #ffffff;
    --cinza-escuro: #474747;
    --cinza-claro: #5f5f5f;
    --laranja: #e08235;
    font-family: 'Montserrat', sans-serif;
    user-select: none; 
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.circulo{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--laranja);
    border-radius: 50%;
    margin: 0 3px;
}
.principal{
    padding: 1rem;
}
.signup_text{
    margin: 0 1rem;
    font-size: 12px;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.formulario label{
    padding: .70rem 0;
}
.formulario input{
    padding: 0 .5rem;
    height: 2rem;
    outline: none;
    font-size: 15px;
    border: 1px #acacac solid;
    border-radius: 5px;
}
.formulario input:focus{
    color: var(--laranja);
    border: 1px var(--laranja) solid;
}
#botao{font-family: 'Montserrat', sans-serif;
    margin: 2rem 0;
    background-color: var(--preto);
    border: none;
    border-radius: 1rem;
    color: var(--branco);
    cursor: pointer;
    text-transform: uppercase;
}
#botao:active{
    background-color: var(--laranja);
}
.forgot{
    display: flex;
    justify-content: center;
    width: 100%;
}
.forgot a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--preto);
    font-weight: bold;
}
.forgot a:active{
    color: var(--laranja);
}
.botao_signup button{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100%;
    height: 2rem;
    margin: 4rem 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--cinza-escuro);
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    color: var(--cinza-escuro);
}
.botao_signup a{
    text-decoration: none;
}
.botao_signup button:active{
    color: var(--laranja);
    border-color: var(--laranja);
}
