*{
    padding: 0;
    margin: 0;
}
:root{
    --preto: #252525;
    --branco: #ffffff;
    --cinza-escuro: #474747;
    --cinza-claro: #5f5f5f;
    --laranja: #e08235;
    font-family: 'Montserrat', sans-serif;
    user-select: none; 
}
header{
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: var(--preto);
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    z-index: 999;
}
.botao_retorno img{
    margin-left: .7rem;
    width: 30px;
}
header h1{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
.principal{
    padding-bottom: 4rem;
}
.passos{
    position: fixed;
    width: 100%;
    padding: 3.5rem 0 .7rem;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passos img{
    width: 220px;
}
.itens_carrinho{
    padding: 7rem 1rem 1rem;
}
.itens_carrinho h2{
    padding: 1rem 0;
    font-size: 15px;
    color: var(--cinza-claro);
    font-weight: lighter;
}
.servicos_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--cinza-claro);
    border-radius: .4rem;
    height: 2.8rem;
    margin-bottom: 1rem;
}
.rodape{
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 1rem .6rem;
    z-index: 999;
}
.rodape a{
    display: flex;
    justify-content: center;
    width: 90%;
    text-decoration: none;
}
.rodape button{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 2rem;
    margin: .5rem 0;
    background-color: var(--laranja);
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    color: var(--branco);
    outline: none;
    cursor: pointer;
}